.btn_style{
    width: 90%;
    
    margin: 0 auto;
}

.btn_style button{
    background-color: #FF6D6A;
    border-radius: 8px;
    height: 56px;
    color: #ffffff;
    width: 100%;
    border-style: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}

.para_Code{
    margin: 0 auto;
    text-align: center;
}